.accts-dropdown-container {
  position: absolute;
  z-index: 4;
  top: 48px;
  left: 19%;
  width: 450px;
  background-color: transparent;
  box-shadow: 0 2px 0 rgba(0,0,0,.15);

  h1 {
    display: flex;
    justify-content: space-between;
    border: 1px solid #959595;
    background-color: #fff;
    color: #0071C4;
    font-size: 16px;
    box-shadow: 0 2px 0 rgba(0,0,0,.15);

    a {
      padding: 12.6px;
    }

    i {
      font-size: 30px;
      font-weight: 900;
      padding: 7px;
    }

    i:hover {
      cursor: pointer;
    }
  }

  ul {
    height: 290px;
    overflow-y: scroll;
  }

  li {
    background-color: #fff;
    border: 1px solid #959595;
    border-top: none;
    position: relative;

    a {
      margin: 15px;
    }
    
    div {
      display: flex;
      justify-content: space-between;
      margin: 5px;
    }

    h2 {
      font-size: 12px;
      font-weight: 700;
      padding: 0 10px;
    }

    h3 {
      font-size: 14px;
      padding: 0 10px;

      span {
        color: #0071C4;
        font-weight: 700;
      }
    }
  }

  li:last-of-type {
    border-bottom: none;
  }

  a::before {
    transition: all .3s ease;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 100%;
  }
  
  .checkings-acct::before {
    background-color: #03A9F4;
  }
  .savings-acct::before {
    background-color: #3F51B5;
  }
  .money-market-acct::before {
    background-color: #009688;
  }

  .arrow-holder {
    position: relative;
    background: transparent;
    height: 10px;
  
    #dropdown-arrow {
      position: absolute;
      margin-left: 16.5%;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #fff;
    }
  }
}

