/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'variables';

body {
  background-color: #F2F2F2;
  color: #2A2A2A;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
};

button, input[type='submit'] {
  background-color: #008486;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
};

textarea, input[type='text'], input[type='password'] {
  border: 1px solid #959595;
  padding: 8px;
  width: 310px;
  height: 16.5px;
}

textarea:hover, input[type='text']:hover, input[type='password']:hover {
  border-color:  #b5b5b5;
}

.sidebar {
  background-color: #F2F2F2;
  position: absolute;
  top: 100;
  right: 0;
}

footer {
  margin: 10% 0;
  font-color: #666;
  font-size: 13px;
  border-top: 1px solid rgb(221, 221, 221);
}