/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'variables';

body {
  background-color: #F2F2F2;
  color: #2A2A2A;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
};

.stop-scrolling {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: scroll;
}

.hidden {
  display: none;
}

.error {
  font-weight: 700;
  color: #D42825;
  display: flex;
  
  i {
    font-size: 18px;
    color:#D42825;
  }
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #2A2A2A;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  font-size: 12px;
  padding-bottom: 1px;
  margin: 1px;
  margin-right: 10px;
}

.circle-icon:hover {
  cursor: help;
}


// save for potential use

// .loading {
//   div {
//     height: 250px;
//     background-color: #f6f6f6;
//     * {
//       background-color: #eaeaea;
//       width: 800px;
//       margin: 10px;
//     }
//     h1 {
//       background-color: #fbfbfb;
//       height: 7px;
//       width: 100%;
//       margin: 0;
//     }
//     p {
//       width: 650px;
//     }
//   }
// }


button, input[type='submit'] {
  background-color: #008486;
  color: #FFF;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 14px;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
};

button:hover, input[type='submit']:hover {
  cursor: pointer;
};

textarea, input[type='text'], input[type='password'] {
  font-size: inherit;
  font-family: inherit;
  border: 1px solid #959595;
  padding: 8px;
  width: 310px;
  height: 16.5px;
}

textarea:hover, input[type='text']:hover, input[type='password']:hover {
  border-color:  #b5b5b5;
}

.blue {
  font-weight: 700;
  color: #0071C4;
}

footer {
  margin: 30px 11.5% 30px 13.5%;
  font-size: 13px;
  text-align: center;
  color: #666;
  border-top: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  align-items: center;

  * {
    padding: 5px;
  }

  ul {
    display: flex;
    font-weight: 700;
    color: #0071C4;

    * {
      padding: 10px 45px;
    }
  }

  #footer-text {
    line-height: 1.7;
    width: 60%;
  }
}