input[type='text'].bad-email, input[type='text'].bad-email:focus, input[type='text'].bad-email:hover {
  border: 3px solid #D42825;
}

button.bad-email {
  background-color: #579899;
  color: rgb(212, 211, 211);
}

.forgot-password, .forgot-username {
  height: 45vh;
  margin: 6% 11.5% 0 13.5%;

  h1 {
    font-size: 1.75em;
    color: #650360;
    margin-bottom: 10px;
  }

  em {
    display: block;
    font-size: 2.65em;
    font-weight: 700;
    padding: 20px 0;
  }

  p {
    margin: 15px 0;
    font-size: 1.2em;
  }

  h2 {
    font-size: 1.25em;
    margin-bottom: 20px;
  }
  
  .icon-holder {
    display: inline-block;
    vertical-align: top;
  }

  input {
    margin-right: 30px;
  }

  .circle-icon:hover {
    cursor: help;
  }
  
}

#email-tooltip {
  position: relative;
  left: 30px;
  top: -75px;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

[data-email-tooltip]:after {
  content: attr(data-email-tooltip);
  position: absolute;
  width: 300px;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
}


@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}