input[type='text'].bad-email, input[type='text'].bad-email:focus, input[type='text'].bad-email:hover {
  border: 3px solid #D42825;
}

button.bad-email {
  background-color: #579899;
  color: rgb(212, 211, 211);
}

.forgot-password, .forgot-username {
  height: 45vh;
  margin: 6% 11.5% 0 13.5%;

  h1 {
    font-size: 28px;
    color: #650360;
    margin-bottom: 10px;
  }

  em {
    display: block;
    font-size: 40px;
    font-weight: 700;
    padding: 20px 0;
  }

  p {
    margin: 15px 0;
    font-size: 18px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .icon-holder {
    display: inline-block;
    vertical-align: top;
  }

  input {
    margin-right: 30px;
  }
  
}

#email-info-tooltip {
  position: absolute;
  top: 21%;
  left: 49%;
  
  .arrow-holder {
    position: relative;
    left: -10px;
    background: transparent;
    height: 100%;
    display: flex;
    align-items: center;
    
    #dropdown-arrow {
      position: absolute;
      margin-top: 33%;
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-right: 15px solid #fff;
    }
  }
  
  p {
    background-color: #fff;
    border: 1px solid black;
    width: 300px;
    padding: 10px;
    line-height: 1.2;
  }

}