input[type='text'].bad-email, input[type='text'].bad-email:focus, input[type='text'].bad-email:hover {
  border: 3px solid #D42825;
}

button.bad-email {
  background-color: #579899;
  color: rgb(212, 211, 211);
}