@import 'variables';

.login-form-container {
  margin: 83px 13.3%;

  .pw-popup  p {
    padding: 0 0 20px 10px;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 12px;
    display: inline-block;
  }

  .error {
    margin-top: 5px;
  }

  form {
    display: flex;
    flex-direction: column;

    .login-inputs {
      display: flex;

      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 105px;
      }

      .labels {
        width: 115px;
        font-size: .9em;

        label {
          padding: 22px 0;
        }
      }

      input {
        margin: 11px 0;
      }
    }

    .submit-btns {
      margin: 0 115px;
      
      div {
        display: flex;
        align-items: center;
        margin: 10px 0;

        * {
          padding: 9px 24px;
          margin-right: 5px;
        }
      }
      
      p {
         font-size: .9em;
         padding-top: 5px;
      }

      #save-username-label {
        display: flex;
        align-items: center;
      }
  
      button {
        margin-bottom: 20px;
      }
       
    }
  }
  
}

.sidebar-login-form-container {
  margin: 25px 0 0 52px;
  font-size: 15px;

  h1 {
    margin-bottom: 19px;
    color: #650360;
    
    i {
      padding-right: 3px;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    .login-inputs {
      div {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        label {
          padding: 0 0 5px 0;
          font-weight: 13px;
        }

        input {
          width: 275px;
        }
      }

      div:first-child input {
        margin-bottom: 15px;
      }

    }
    
    .login-btns {
      display: flex;
      align-items: center;
      margin: 10px 0;
      * {
        padding: 8.5px 21px;
      }
    }

    #save-username-label {
      display: flex;
      align-items: center;
    }

    button {
      margin-bottom: 20px;
    }

  }
  
}