@import 'variables';

.user-nav, .splash-nav {
  position: relative;
  z-index: 3;
}

.modal {
  z-index: 2;
  content: ' ';
  display: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .8;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: ease-in-out .1s;
}

@keyframes slideInFromRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}
@keyframes slideOutToRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

.sidebar {
  z-index: 3;
  background-color: #F2F2F2;
  opacity: 1;
  position: fixed;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 680px;
  animation: .3s ease-in 0s 1 slideInFromRight;
}

.close-sidebar-animate{
  animation: .3s ease-out 0s 1 slideOutToRight;
}


.close-sidebar {
  background-color: inherit;
  border: none;
  color: rgb(0, 104, 153);
  font-size: 30px;
  float: right;
}


.settings-sidebar {
  width: 480px;

  div {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;

    p {
      display: flex;
      align-items: center;
      font-size: 14px;
      margin-left: 30px;
    }
  }
  
  li {
    padding: 10px 40px;
    display: flex;
    align-items: center;
  }

  h2 {
    margin-left: 30px;
    padding: 10px;
    color:rgb(0, 113, 196);
    font-weight: 700;
    border-top: 1px solid rgb(221, 221, 221); 
    cursor: pointer;

    i {
      padding-right: 5px;
    }

  }
  
  > *:last-child {
    border-bottom: 1px solid rgb(221, 221, 221);
  }

  .logout {
    margin: 30px;
    background-color: transparent;
    border: 2px solid rgb(0, 113, 196);
    color: rgb(0, 113, 196);
  }
}