.night-mode {
  background-color: #000;
  color: #fff;

  textarea, input[type='text'], input[type='password'], select {
    background-color: #221b24;
    color: #fff;
  }

  .acct-index-container, .sidebar, .splash-nav, .step-nav, .informational {
    background-color: #221b24;
    color: #fff;
  }

  .dash-nav {
    background-color: #281e2b;
  }

  .transfers-index-container {
    ul {
      li:nth-child(2n){
        background-color: rgb(58, 55, 59);
      }
      
      li:nth-child(2n+1) {
        background-color: rgb(64, 58, 66);
      }
  
      li:first-child {
        background-color: rgb(94, 68, 100);
        font-size: .75em;
        font-weight: 700;
        border-top: 1px solid rgb(204, 204, 204)
      }
    }
  }

  .main-info-box {
    background-color: #221b24;
  }

  .user-form-container .update-complete-popup {
    background-color: #650360;
    
    i {
      color: #fff;
    }
  }
  .external-accts-container .external-accts-content .table .row {
    background-color: rgb(44, 38, 46);
    font-weight: 700;
  }

  .external-acct-form #external-acct-header {
    color: #006899;
  }

  .transfer-review-container .acct-review div {
    background-color: rgb(44, 38, 36);
  }

  .accts-dropdown-container {
    h1, ul {
      background-color: #000;
    }

    #dropdown-arrow {
      border-bottom-color: #000;
    }
  }

}

.accessible-view {
  font-size: calc(15px * 1.2);
  color: #000;

  .dashboard-container .acct-index-container {
    color: #000;
  }

  .external-acct-form #external-acct-header {
    color: #000;
  }

  [data-balance-tooltip]:after {
    color: #000;
  }

  .splash-nav {
    color: #000;
  }

}