@import 'variables';


.snapshot-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: rgb(101,3,96);
  background: linear-gradient(180deg, rgba(101,3,96,1) 10%, rgba(0,0,0,1) 100%); 
  color: white;
  width: 100%;
  height: 242px;
  
  .left-view {
    margin-left: 13.5%;
    width: 430px;

    h1 {
      font-size: 2em;
      margin: 18px 0;
    }

    p {
      font-size: .9em;
      margin-top: 6px;
      margin-bottom: 5px;
    }

    #balance-header {
      margin-top: 56px;
      font-size: 15px;
    }

    #balance {
      font-size: 26px;
      padding-top: 5px;
    }

    .question-icon {
      margin-left: 3px;
      height: 16px;
      width: 16px;
      font-size: .75em;;
      font-weight: 700;
      color: rgb(180, 220, 255);
      padding: 0 4px;
      border: 2px solid rgb(180, 220, 255);
      border-radius: 18px;
    }

    .question-icon {
      cursor: help;
    }
  }

  svg {
    margin-top: 5px;
    height: 220px;
    width: 220px;
    background-color: transparent;
  }

  .right-view {
    margin-right: 11.5%;
    width: 430px;
    font-size: .9em;
    
    div {
      display: flex;
      justify-content: space-between;
    }

    > div:first-child {
      font-size: .7em;
      font-weight: 900;
      margin-top: 20px;

      h1 {
        margin: 0 12px 6px 12px;
      }
    }

    ul li {
      position: relative;

      div {
        padding: 7px;
        box-sizing: border-box;
        margin: 0;

        h1 {
          padding: 0 8px;
        }
      }

      .account-div::before {
        transition: all .3s ease;
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
      }
    }

    li:first-child > .account-div::before {
      background-color: #03A9F4;
    }
      
    li:nth-child(2) > .account-div::before {
      background-color: #3F51B5;
    }

    li:nth-child(3) > .account-div::before {
      background-color: #009688;
    }

  }

}

#balance-tooltip {
  display: inline-block;
  position: relative;
  left: 10px;
  top: -35px;
  //fadeIn is defined on forgotten_info.scss:69
  animation: fadeIn 1s; 
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

[data-balance-tooltip]:after {
  content: attr(data-balance-tooltip);
  position: absolute;
  width: 300px;
  background-color: #fff;
  border: 1px solid black;
  padding: 10px;
  color: #2A2A2A;
}