@import 'variables';


.splash-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 14px;
  box-sizing: border-box;
  
  > :first-child {
    margin-left: 12.5%;
    padding: 7px;
  }

  .right-nav {
    display: flex;
    align-items: center;
    margin-right: 14%;
    padding: 7px;

    * {
      margin-left: 30px;
    }
  }

}

.better-banking-panel {
  background-color: #371447;
  color: #FFF;
  height: 320px;
  text-align: center;
  padding: 65px;
  box-sizing: border-box;

  h1 {
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 15px;

    span {
      color: #cb3974;
    }
  }


  p {
    font-size: 20px;
    padding: 5px;
  }

}