@import 'variables';


.splash-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  color: #2a2a2a;
  font-size: 14px;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
  
  > :first-child {
    margin-left: 12.5%;
    padding: 7px;
  }

  .right-nav {
    display: flex;
    align-items: center;
    margin-right: 14%;
    padding: 7px;

    * {
      margin-left: 30px;
    }
  }

}

.better-banking-panel {
  background-color: #371447;
  color: #FFF;
  height: 320px;
  text-align: center;
  padding: 65px;
  box-sizing: border-box;

  h1 {
    font-size: 50px;
    font-weight: 900;
    padding-bottom: 15px;

    span {
      color: #cb3974;
    }
  }

  p {
    font-size: 20px;
    padding: 5px;
  }

  button {
    margin-top: 30px;
    font-size: 16px;
    padding: 5px 20px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 4px;
  }

}

.compare-accts-panel {
  background-color: #f2f2f2;
  text-align: center;
  align-items: center;
  padding: 65px;
  box-sizing: border-box;
  
  > h1 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
  }
  
  p {
    font-size: 20px;
    padding: 5px;
    
    span {
      font-weight: 700;
      padding: 3px;
    }
  }
  
  p:nth-last-child(-n+2) {
    font-size: 16px;
  }
  
  .mini-nav {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0 0 20px;
    
    h2 {
      background-color: #fff;
      color: #0079b3;
      border: 1px solid #959595;
      border-right: none;
      padding: 10px 20px;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
    }

    h2:hover {
      background-color: #666;
      color: #fff;
    }
    
    h2:first-of-type {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    
    h2:last-of-type {
      border-right: 1px solid #959595;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
  
  > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    
    .acct-display {
      position: relative;
      background-color: #fff;
      border: 1px solid #959595;
      width: 337px;
      height: 709px;
      text-align: center;
      margin: 50px 10px;
      border-bottom: 4px solid #3f51b5;

      h1 {
        margin: 30px 0 20px 0;
        font-size: 22px;
        font-weight: 700;
      }
      
      .standout {
        text-align: left;
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        margin: 10px 30px;
        line-height: 1.5;

        i {
          float: left;
          font-size: 30px;
          color: #008486;
          padding: 5px 10px 20px 5px;
        }

        p {
          padding: 15px 5px;
          font-size: 16px;
          span {
            font-weight: 700;
          }
        }
      }
      
      .apy {
        h1 {
          text-align: center;
          color: #650360;
          font-size: 50px;
          font-weight: 700;
          margin: 10px 0 5px 0;
        }

        p {
          font-size: 14px;
        }
        
        p:first-child {
          font-weight: 700;
        }
      }
      
      .benefits {
        list-style: disc;
        text-align: left;
        padding: 10px 35px;
        font-size: 16px;
        * {
          line-height: 2;
          padding: 0 8px;
        }
      }

      button {
        position: absolute;
        bottom: 30px;
        left: 100px;
        background-color: #e7f6fd;
        color: #0071c4;
        margin-top: 10px;
      }
    }
  }

}