/*=====================*/
.toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 31px;
  height: 16px;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  overflow: hidden;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #707070;
  transition: background-color ease 0.3s;
}

.toggle:before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 4;
  width: 14px;
  height: 14px;
  background: #fff;
  left: 1px;
  top: 1px;
  border-radius: 50%;
  color: #fff;
  text-shadow: -1px -1px rgba(0,0,0,0.15);
  white-space: nowrap;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  transition: all cubic-bezier(0.3, 1.5, 0.7, 1) 0.3s;
}

.toggle:checked {
  background-color: rgb(31, 144, 224);
}

.toggle:checked:before {
  left: 16px;
}