@import 'variables';

.user-form-container {
  margin: 83px 13.3%;

  h1 {
    font-size: 24px;
    margin: 12px 0;
  }

  form {
    display: flex;

    ul {
      display: flex;
      flex-direction: column;

      li {
        height: 50px;
      }
    }

    .labels-list {
      width: 200px;
      justify-content: flex-end;
      li {
        width: 300px;
      }
    }

    .inputs-list {
      li {
        width: 700px;
      }
    }
  }

  .update-complete-popup {
    border: 1px solid #959595;
    box-shadow: 0 4px 0 rgba(0,0,0,.15);
    background-color: #fff;
    width: 100%;
    margin: 40px auto;
    
    i {
      color: #650360;
      float: left;
      margin: 25px;
    }

    p {
      margin: 20px;
      line-height: 28px;
    }
  }

}